body {
    font-family: 'Space Mono', monospace;
    font-size: medium;
    margin: 0;
}

header {
    padding: 1%;
    margin: 0px;
    border: 0px;
}

a {
        text-decoration: none;
}

header firstTitle {
    font-weight: bold;
    color: darkgrey;
    font-size: larger;
}

header secondTitle {
    font-weight: bold;
    color: green;
    font-size: larger;
}

nav {
    background-color: darkgrey;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    padding: 8px;
    color: black;
    font-weight: bold;
    font-family: 'Roboto' sans-serif;
}

main {
    padding: 0;
    width: 82%;
    text-align: center;
}

main h1 {
    color: green;
    font-family: 'Roboto', sans-serif;
}

main h2 {
    display: inline;
    color: darkgrey;
    font-family: 'Roboto', sans-serif;
}