
#asideright{
	width:28%;
	padding-left:1%;
}

#pagefooter{
	margin-top: 2em;
}

#pageheader{
	border-bottom:black 3px solid;
	border-top: black 3px solid;
}


#pageheader,  #pagenav{ 
	margin-top:1em;
	margin-bottom:1em;
}


#pageheader, #pagefooter{
	text-align: center;
}
#pagenav li:hover{
	background-color: #c2dfde;
}

.pagenavli{
	border:black solid thin;
	vertical-align: middle;
	padding-top:0.8em;
}

.pagenava{
	display:block;
	margin:0;
	padding:0;
	width:100%;
	height:2em;
	text-decoration:none;
	text-align: center;
	color:black;
}


/* 
plaats je code hier
*/

#page {
	margin: auto;
}

img {
	max-width: 100%;
}

@media screen and (min-width: 1200px) {
	#page {
		width: 1200px;
	}

	#pagenav {
		float: none;
		width: 100%;
	}
	.pagenavli {
		float: left;
		width: 12%;
	}

	#articlecenter {
		width: 89%;
		display: inline-block;
	}

	#asideright {
		width: 10%;
		float: right;
	}
}